<% if @car %>
	<p>Are you sure you want to delete the following car: <em>"<%= @car[0]['name'] %>"</em>?</p>
	<form action="/<%= @car[0]['id'] %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Yes, Delete It!">
		<a href="/<%= @car[0]['id'] %>">Cancel</a>
	</form>
<% else %>
	<p>Car not found.</p>
<% end %>
